
<div *ngIf="!hasData; else resultsTemplate">
  <p>No hay datos de búsqueda. Realice una consulta.</p>
</div>

<ng-template  #resultsTemplate >


  <div class="row">
    <div class="col-sm-12 col-md-4">
      <h2 class="text-center my-4">Calendario de Cortes</h2>
    
      <div class="card mb-4">
        <div class="card-body">
          <h3 class="mt-4">Detalles de Próximo Corte</h3>
          <p class="lead">{{ nextCut }}</p>
          <p class="text-muted" *ngIf="nextCutTime">{{ nextCutTime }}</p>
        </div>
      </div>
    
      <div class="card">
        <div class="card-body overflow-auto" style="max-height: 250px;">
          <h3 class="mt-4">Cortes por Día</h3>
          <div *ngFor="let day of (cutsByDay | keyvalue)">
            <h4 class="my-3">{{ day.key }}</h4>
            <ul class="list-group">
              <li *ngFor="let event of day.value" class="list-group-item">
                {{ event.title }}
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    
    
    <div class="col-md-8 col-sm-12 mb-2 " >
      <div class="btn-group mb-3 mt-2" role="group">
        <button type="button"  class="btn btn-outline-primary" (click)="changeView('month')">Mes</button>
        <button type="button" class="btn btn-outline-primary" (click)="changeView('week')">Semana</button>
        <button type="button" class="btn btn-outline-primary" (click)="changeView('day')">Día</button>
      </div>
    
      <div class="results scroll-container" #scrollContainer  >
      <mwl-calendar-month-view  *ngIf="view === 'month'" (dayClicked)="dayClicked($event.day)"  [activeDayIsOpen]="activeDayIsOpen"  [viewDate]="viewDate" [events]="events"></mwl-calendar-month-view>
      <mwl-calendar-week-view *ngIf="view === 'week'" [viewDate]="viewDate" [events]="events"></mwl-calendar-week-view>
      <mwl-calendar-day-view *ngIf="view === 'day'" [viewDate]="viewDate" [events]="events"></mwl-calendar-day-view>
      </div>
    </div>
    </div>


</ng-template>

