<div class="card mt-3 px-2">
  <div class="card-body">

<div *ngIf="!hasData; else resultsTemplate">
  <p>No hay datos de búsqueda. Realice una consulta. <i class="fa-solid fa-face-sad-cry text-secondary"></i></p>
</div>

<ng-template  #resultsTemplate >


  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-4">
      <h2 class="text-center my-3">Calendario de Cortes</h2>
    
      <div class="card mb-4">
        <div class="card-body p-0 y-2 p-3">
          <h3 class="mt-2">Detalles de Corte <i class="fa-solid fa-plug-circle-exclamation text-secondary"></i></h3>
          <p class="lead">{{place}}</p>
          <p class="lead">{{ nextCut }}</p>
          <h3>Próximo corte:</h3>
          <h5><span class="badge bg-primary "> {{ nextCutDate }}</span></h5> 
          <h5 class="fw-bold text-truncate w-100" *ngIf="nextCutTime">
           <span class="badge text-bg-danger"> {{ nextCutTime }}</span>
          </h5>
        </div>
      </div>
    
      <div class="card">
        <div class="card-body overflow-auto" style="max-height: 250px;">
          <h3 class="mt-4">Cortes por Día  <a 
            data-bs-toggle="tooltip" data-bs-placement="top" title="Compartir por WhatsApp"
            href="#"><i  (click)="compartirPorWhatsApp()"
             class="fa-solid fa-share-nodes text-secondary"></i></a>
            </h3>
          <div *ngFor="let day of (cutsByDay | keyvalue)">
            <h4 class="my-3">{{ day.key }}</h4>
            <ul class="list-group">
              <li *ngFor="let event of day.value" class="list-group-item">
                {{ event.title }}
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    
    
    <div class="col-md-12 col-lg-8 col-sm-12 mb-2 " >

      <div class="row">
      <div class="col-md-6 col-sm-12 mt-2">
        <div class="btn-group" style="width: 100%;">
          <button
            class="btn btn-primary"
            mwlCalendarPreviousView
            [view]="view"
            [(viewDate)]="viewDate"
            (viewDateChange)="closeOpenMonthViewDay()"
          >
            Anterior
          </button>
          <button
            class="btn btn-outline-secondary"
            mwlCalendarToday
            [(viewDate)]="viewDate"
          >
            Hoy
          </button>
          <button
            class="btn btn-primary"
            mwlCalendarNextView
            [view]="view"
            [(viewDate)]="viewDate"
            (viewDateChange)="closeOpenMonthViewDay()"
          >
            Siguiente
          </button>
        </div>
      </div>
      
      <div class="btn-group mb-3 mt-2 col-md-6 col-sm-12" role="group">
        <button type="button"  class="btn btn-outline-primary" (click)="changeView('month')">Mes</button>
        <button type="button" class="btn btn-outline-primary" (click)="changeView('week')">Semana</button>
        <button type="button" class="btn btn-outline-primary" (click)="changeView('day')">Día</button>
      </div>
    
      <div class="results scroll-container  col-12" #scrollContainer  >
      <mwl-calendar-month-view  *ngIf="view === 'month'" (dayClicked)="dayClicked($event.day)"  [activeDayIsOpen]="activeDayIsOpen"  [viewDate]="viewDate" [events]="events"></mwl-calendar-month-view>
      <mwl-calendar-week-view *ngIf="view === 'week'" [viewDate]="viewDate" [events]="events"></mwl-calendar-week-view>
      <mwl-calendar-day-view *ngIf="view === 'day'" [viewDate]="viewDate" [events]="events"></mwl-calendar-day-view>
      </div>
    </div>
    </div>
    </div>


</ng-template>

  </div>
</div>
